<div id="root">
    <div>
        <div id="main-top"></div>
        <div id="main-chapter"></div>
        <div id="main-editor"></div>
    </div>
    <div>
        <div id='sub-chapter'>
        </div>
        <div id='sub-synopsis'>
        </div>
        <div id='sub-character'>
        </div>
    </div>
</div>