<% if user_signed_in? %>
    <%= link_to 'excel', root_path(format: :xlsx) %><br><br><br>
    <table>
        <tr>
            <td><%= link_to 'stepの設定', steps_path, id: 'set-step' %></td>
        </tr>
    </table>
    <%= render @mode %>
<% end %>